*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;}
/* GENERALI */

.upper{
    height: calc(100vh - 150px);
    display: flex;
}

.my-container{
    width: 100%;
}

[class*="col"]{
    padding: 0.5rem;
}

.gray-font{
    color: gray;
}
img{
    object-fit: contain;
    width: 100%;
}

.centered{
    text-align: center;
}

h2{
    color: white;
    margin-bottom: 1rem;
}

h4{
    color: white;
    margin-bottom: 0.5rem;
}

.white{
    color: white;
    font-weight: bold;
}

/* ?                 Qui inizia l'Header                       */

header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 5rem;
    width: 100%;
    background-color: #080b12;
    padding: 0.5rem;
}


#round{
    color: white;
    border-radius: 1.5rem;
    background: transparent;
    padding: 0.7rem 1rem;
    border: solid 1px white;    
}

.row{
    margin: 1rem 0;
}

/* ? --------------------------------------------------------- */


/* ?                      Qui inizia il LEFTER                 */

nav{
    height: 100%;
    width: 250px;
    padding: 1rem;
    background-color: #000000 ;

}

#nav-container{
    height: calc(100% - 75px);
    overflow: auto;
}

#logo{
    width: 70%;
    margin-bottom: 1rem;
}

#nav-container > ul > li{
    margin-bottom: 1rem;
    font-size: 0.75rem;
}
.add{
    font-size: 2rem;
}

#nav-footer{
    height: 75px;
    width: 100%;
}

#nav-footer > .gray-font{
    margin-bottom: 0.75rem;
    border-bottom: 1px solid gray;
    padding-bottom: 0.6rem;
}

/* ? --------------------------------------------------------- */


/* ?                        qui inizia il Main                 */

main{
    flex-grow: 1;
    height: calc(100% - 5rem);
    background-color: #151922;
    width: 100%;
    overflow: auto;
    padding: 0 1.5rem;
}

#sub-h{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    font-size: 0.5rem;
    font-weight: bold;
}

ul{
    list-style-type: none;
}

.centered > .gray-font{
    font-size: 0.7rem;
}

.circle{
    border-radius: 50%;
}

/* ? --------------------------------------------------------- */

/* ?                Qui inizia il Footer                 */
footer{
    height: 100px;
    background-color: cadetblue;
}


/* ? --------------------------------------------------------- */

/* ! DEBUG */

[class*="col"]{
/* background-color: aquamarine;
min-height: 50px;
border: SOLID 1PX red; */
}

.upper{
    background-color: rgba(255, 20, 145, 0);
}