*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERALI */

.upper{
    height: calc(100vh - 150px);
    display: flex;
    background-color: deeppink;
}

.my-container{
    width: 100%;
}

/* ?                 Qui parte l'Header                        */

header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 5rem;
    width: 100%;
    background-color: darksalmon;
    padding: 0.5rem;
}


#round{
    color: white;
    border-radius: 1.5rem;
    background: transparent;
    padding: 0.7rem 1rem;
    border: solid 1px white;    
}

.row{
    margin: 2rem 0;
}

/* ? --------------------------------------------------------- */

nav{
    height: 100%;
    width: 250px;
    background-color: burlywood;
}

main{
    flex-grow: 1;
    height: calc(100% - 5rem);
    background-color: blue;
    width: 100%;
    overflow: hidden;
}

/* ?                Qui parte da qui il Footer                 */
footer{
    height: 150px;
    background-color: cadetblue;
}


/* ? --------------------------------------------------------- */

/* ! DEBUG */

[class*="col"]{
background-color: aquamarine;
height: 50px;
border: SOLID 1PX red;
}