*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERALI */

#upper{
    height: calc(100vh - 150px);
    display: flex;
    background-color: deeppink;
}


/* ?                 Qui parte l'Header                        */

header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 5rem;
    width: 100%;
    background-color: darksalmon;
    padding: 0.5rem;
}


#round{
    color: white;
    border-radius: 1.5rem;
    background: transparent;
    padding: 0.5rem;
    border: solid 1px white;    
}

/* ? --------------------------------------------------------- */


/* ?                Qui parte da qui il Footer                 */
footer{
    height: 150px;
    background-color: cadetblue;
}


/* ? --------------------------------------------------------- */

nav{
    height: 100%;
    width: 250px;
    background-color: burlywood;
}

main{
    flex-grow: 1;
    height: 100%;
    background-color: blue;
    width: 100%;
    margin-top: 0rem;
}
